body{
	background-color: #4d5470;
	font-family: 'Roboto', sans-serif;
	color:#f5f6fa;
}

.inputBar{
	transition: 0.5s;
	margin:3px;
	text-align: center;
}

.inputBar:hover{
	transition: 0.5s;
	margin:10px;
}

#eightballA{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: #000;
	border:2px solid #192329;
	cursor:pointer;
}

#eightballA:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 0px) ; }
  10% { transform: translate(-1px, 0px) ; }
  20% { transform: translate(-3px, 0px) ; }
  30% { transform: translate(3px, 0px) ; }
  40% { transform: translate(1px, 0px) ; }
  50% { transform: translate(-1px, 0px) ; }
  60% { transform: translate(-3px, 0px); }
  70% { transform: translate(3px, 0px); }
  80% { transform: translate(-1px, 0px) ; }
  90% { transform: translate(1px, 0px) ; }
  100% { transform: translate(1px, 0px) ; }
}

#eightballB{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: #000;
	border:2px solid #192329;
}

#result{
	font-size: 20px;
	margin:140px;
	text-align: center;
}

.goAgain{
	margin-top: 20px;
	transition: 0.3s;
	margin-right: 400px;
	margin-left: 500px;
	width:400px;
	border:2px solid #f5f6fa;
	cursor: pointer;
	text-align: center;
}

.goAgain:hover{
	margin-top:10px;
	transition: 0.3s;
	color:#4d5470;
	background-color: #f5f6fa;
}